
.logo,
.nav-links,
a,
div {
  border: 0px $red solid;
}

body { padding-top: 71px; }


.logo {
  font-size: 1.5rem;
}

section {
 margin-bottom: 5rem;
}

.section-information {
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
}

.text-center {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-content {
  @media (min-width: 768px) {
    padding: 0 13rem 0;
  }
}
