.logo,
.nav-links,
a,
div {
  border: 0px $red solid;
}

section {
 margin: 5rem 0 5rem;
}

.information {
  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }
}

.text-center {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.blog-content {
  @media (min-width: 768px) {
    padding: 0 13rem 0;
  }
}
