//AvenirLTStd-Book
@font-face {
  font-family: 'Avenir';
  font-weight: normal;
  src: url('/fonts/364E28_0_0.woff2') format('woff2');
}
//AvenirLTStd-BookOblique
@font-face {
  font-family: 'Avenir';
  font-style: italic;
  src: url('/fonts/364E28_1_0.woff2') format('woff2');
}
//AvenirLTStd-Black
@font-face {
  font-family: 'Avenir';
  font-weight: bold;
  src: url('/fonts/364E28_3_0.woff2') format('woff2');
}
