body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  & .col {
    flex-basis: 32%;
  }
}

.flex-grid-two {
  display: flex;
  justify-content: space-between;
  & .col {
    width: 49%;
  }
}

.flex-grid-three {
  display: flex;
  justify-content: space-between;
  & .col {
    width: 32.67%;
  }
}

.flex-grid-four {
  display: flex;
  justify-content: space-between;
  & .col {
    width: 24.5%;
  }
  & img {
    display: block;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .flex-grid, .flex-grid-two, .flex-grid-three, .flex-grid-four {
    display: block;
    & .col {
      width: 100%;
      margin: 0 0 10px;
    }
  }
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}
