
#navbar-toggle .icon-bar {
  display: block;
  background-color: #444;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  position: relative;
  left: 0;
  opacity: 1;
}

#navbar-toggle .icon-bar:nth-child(1) {
  transform: rotate(0)translateY(0)translateX(0);
}

#navbar-toggle .icon-bar:nth-child(2) {
  opacity: 1;
}

#navbar-toggle .icon-bar:nth-child(3) {
  transform: rotate(0)translateY(0)translateX(0);
}

#navbar-toggle.active .icon-bar:nth-child(1) {
  transform: rotate(-45deg)translateY(5px)translateX(-5px);
}

#navbar-toggle.active .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar-toggle.active .icon-bar:nth-child(3) {
  transform: rotate(45deg)translateY(-5px)translateX(-5px);
}
