.navbar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 98%;
  padding: 0.5rem 1% 0.5rem;
  background: white;
  & li {
    list-style-type: none;
  }
  & ul {
    margin: 0px;
    padding: 0px;
  }
  & a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 768px) {
  #left-nav {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $gray-200;
    & #navbar-toggle {
      margin-left: auto;
      margin-top: 0.45rem;
    }
  }
  #main-nav {
    display: none;
    flex-direction: column;
    padding: 1rem 0rem 1rem;
    background: $gray-100;
    & li {
      padding-left: 1rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    border-bottom: 1px solid $gray-200;
  }
  #main-nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    & li {
      padding: 0 1rem 0;
    }
  }
  #navbar-toggle {
    display: none;
  }
}
