<footer class="flex-grid-four">
    <div class="col">
      {{ .Site.Params.copyright }}
    </div>
    <div class="col">
      <a class="pace-link-white" href="{{ .Site.LanguagePrefix }}/privacy">{{ .Site.Params.policy }}</a>
    </div>
    <div class="col">
      <a class="pace-link-white" href="{{ .Site.LanguagePrefix }}/terms">{{ .Site.Params.terms }}</a>
    </div>
    <div class="col">
      <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ .Site.Params.navLanguage }}
      </button>
    </div>
</footer>
