<section class="information my-5">
  <div class="flex-grid-four">

    <div class="col">
      <ul>
        <h5 class="text-uppercase">{{ .Site.Params.company }}</h5>
        <li><a class="pace-link" href="{{ .Site.LanguagePrefix }}/about/">{{ .Site.Params.navAbout}}</a></li>
        <li><a class="pace-link" href="{{ .Site.LanguagePrefix }}/why-pace/">{{ .Site.Params.navWhy }}</a></li>
        <li><a class="pace-link" href="{{ .Site.LanguagePrefix }}/hiring/">{{ .Site.Params.Hiring}}</a></li>
        <li><a class="pace-link" href="{{ .Site.LanguagePrefix }}/contact/">{{ .Site.Params.contact}}</a></li>
      </ul>
    </div>

    <div class="col">
      <ul>
        <h5 class="text-uppercase">{{ .Site.Params.product}}</h5>
        <li><a class="pace-link" href="{{ .Site.LanguagePrefix }}/get-in-touch/">{{ .Site.Params.navTry}}</a></li>
        <li><a class="pace-link" href="{{ .Site.LanguagePrefix }}/onboarding/">{{ .Site.Params.manage }}</a></li>
        <li><a class="pace-link" href="https://app.paceup.com" target="_blank">{{ .Site.Params.navSignIn}}</a></li>
      </ul>
    </div>

    <div class="col">
      <ul>
        <h5 class="text-uppercase">{{ .Site.Params.blog }}</h5> {{ range first 4 ( where .Site.RegularPages "Section" "blog" ) }}
        <li><a class="pace-link" href="{{ .Permalink }}">{{ .Params.title }}</a></li> {{ end }}
      </ul>
    </div>

    <div class="col">
      <ul>
        <a class="pace-link" href="https://twitter.com/findpace/" rel="external" target="_blank"><i class="fab fa-3x fa-twitter-square"></i></a>
        <a class="pace-link" href="https://www.linkedin.com/company/findpace/" rel="external" target="_blank"><i class="fab fa-3x fa-linkedin"></i></a>
        <a class="pace-link" href="https://www.facebook.com/FindPace/" rel="external" target="_blank"><i class="fab fa-3x fa-facebook"></i></a>
          </ul>

    </div>

  </div>
</section>
