<section class="why-pace">

  <div class="flex-grid-two pace-appear">
    <div class="col">
      {{ $img := (resources.Get "images/features/feature-1.png") }}
      <img class="img-fluid pace-feature" src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}">
    </div>
    <div class="col">
        <h2>{{ .Params.reason1Title }}</h2> {{ with .Params.reason1Text }}
        <p class="lead">{{ . | markdownify }}</p>
        {{ end }}
    </div>
  </div>

  <div class="flex-grid-two pace-appear">
    <div class="col">
      {{ $img := (resources.Get "images/features/feature-1.png") }}
      <img class="img-fluid pace-feature" src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}">
    </div>
    <div class="col">
        <h2>{{ .Params.reason1Title }}</h2> {{ with .Params.reason1Text }}
        <p class="lead">{{ . | markdownify }}</p>
        {{ end }}
    </div>
  </div>

  <div class="flex-grid-two pace-appear">
    <div class="col">
      {{ $img := (resources.Get "images/features/feature-1.png") }}
      <img class="img-fluid pace-feature" src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}">
    </div>
    <div class="col">
        <h2>{{ .Params.reason1Title }}</h2> {{ with .Params.reason1Text }}
        <p class="lead">{{ . | markdownify }}</p>
        {{ end }}
    </div>
  </div>


</section>
